<div class="panel panel-default">
  <div class="panel-heading">
    お部屋の作成
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @room do |f| %>

        <div class="row">

          <div class="col-md-4 select">
            <div class="form-group">
              <label>物件のタイプ</label>
              <%= f.select :home_type, [["アパート", "アパート"], ["住宅", "住宅"], ["民泊", "民泊"]],
                            id: "home_type", prompt: "選択する", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>お部屋のタイプ</label>
              <%= f.select :room_type, [["貸切", "貸切"], ["個室", "個室"], ["シェア", "シェア"]],
                            id: "room_type", prompt: "選択する", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>人数</label>
              <%= f.select :accommodate, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                            id: "accommodate", prompt: "選択する", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>ベッドルーム</label>
              <%= f.select :bed_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                            id: "bed_room", prompt: "選択する", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>バスルーム</label>
              <%= f.select :bath_room, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                            id: "bath_rooms", prompt: "選択する", class: "form-control" %>
            </div>
          </div>

        </div>

        <div><%= f.submit "作成", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>